<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addrecipe.css') }}">
</head>
<body>

    <div class="recipe-container"> 
        <h1>Add Your Recipe</h1>
        <form action="/addrecipe" method="POST">
            <div class="form-group">
                <label for="name">Recipe Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>

            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <textarea id="ingredients" name="ingredients" required placeholder="List each ingredient on a new line."></textarea>
            </div>

            <div class="form-group">
                <label for="steps">Recipe Steps:</label>
                <textarea id="steps" name="steps" required placeholder="Please describe each step clearly."></textarea>
            </div>

            <button type="add-recipe">Add Recipe</button>
        </form>
    </div>
</body>
</html>
