<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profilepage.css') }}">
</head>
<body>
    
    <div class="profile-container">
        <div class="user-icon">
            <span>U</span>
        </div>

        <div class="user-info">
            <h2>User's Name</h2>
            <p>{{user.username}}</p>
        </div>

        <div class="recipe-list">
            <h2>Saved Recipes</h2>
		{% for recipe in recipes %}
            <p><a href="{{ url_for('recipe', id=recipe._id)}}">{{ recipe.name }}</a></p>
                {% endfor %}
        </div>
        <div class="bottom-buttons">
            <button><a href="home">Home</a></button>

            {% if user_id == None %}
            <button><a href="login">Login</a></button>
            {% else %}
            <form action="{{ url_for('logout')}}" method="get">
                <button type="submit">Log out</button>
            </form>
            {% endif %}
        </div>
    </div>

</body>
</html>
