<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipe</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
    </head>
    <body>
        <div class="recipe-container">
            
            <div class="back-button">
                <button><a href="/home">Home</a></button>
                <form action="{{ url_for('save', item_id=single_recipe._id) }}" method="get">
                    <button type="submit">Save</button>
                </form>

            </div>
            <h2>{{ single_recipe.name }}</h2>
            <div class="recipe-field">
                <h3>Description</h3>
                <p>{{ single_recipe.description }}</p>
            </div>

            <div class="recipe-field">
                <h3>Ingredients</h3>
                {% for ingredient in single_recipe.ingredients %}
                <p>{{ingredient}}</p>
                {% endfor %}
            </div>
            <div class="recipe-field">
   
                <h3>Steps</h3>
                <ol>
                    {% for step in single_recipe.steps %}
                    <li>
                        <p>{{step}}</p>
                    </li>
                    
                    {% endfor %}

                </ol>

            </div>
        </div>

    </body>
</html>