<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h3>Searching Page</h3>
        <form method="POST" action="#">
            <input type="text" name="recipe_name" /> 
            <input type="submit" />
        </form>

        <ul>
        {% for item in recipes %}
        <li>
            <p>{{ item.name }}</p>
            <p>{{item.description}}</p>
            <p>{{item.steps}}</p>
            <p>{{item.ingredients}}</p>
        </li>
        {% endfor %}
        </ul>
    </body>
</html>